<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Proyectos</title>
  </head>
  <body>
    {{> header}}
    <p>lista de proyectos</p>
    {{proyecto}}
    {{> footer}}
  </body>
</html>